{% extends 'base.html' %}
{% load static %}

{% block title %} Railroad {% endblock title %}


    {% block content %}
        <div class="field-item even" property="content:encoded"><iframe src="https://app.powerbi.com/reportEmbed?reportId=20caddaa-e589-4ab6-898d-2fc81c32ce06&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1pLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowfullscreen="true" width="100%" height="600"></iframe></div></div>
    {% endblock content %}

